.lvl-all {
    width: 250px;
    height: 110px;
    border-radius: 25px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: absolute;
    right: 4%;
    top: 32%;
    gap: 10px;
}

.lvl {
    font-family: 'JingNanYuanTi', sans-serif;

}

.experence {
    font-family: 'JingNanYuanTi', sans-serif;
}